/* Custom styles for slick dots */
.slick-dots li button:before {
    color: white;              /* Make dots white */
    opacity: 0.5;              /* Initial opacity */
  }
  
  .slick-dots li.slick-active button:before {
    opacity: 1;                /* Make the active dot fully visible */
  }
  